{% extends "../base.html" %}
{% load static %}
{% block extra_title %}| Cart {% endblock %}
{% block content %}

<div class="container">
    <hr>
    <h1>Cart</h1>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <!--Uses cart.py to access the sessions total-->
            <!--Displays all items within session and their data in the cart-->
            {% with total_qty=cart|length %}
            <!--If quantity > 0 show the items-->
            {% if total_qty > 0 %}
            <!--Loop through items in cart-->
            {% for item in cart %}
            <!--Use product information for each item-->
            {% with product=item.product %}
            <!--Arrange into tables-->
            <div data-index="{{ product.id }}" class="product-item table-responsive-rounded">
                <tr>NAME - {{ product.product_name }}</tr>
                <tr>DESCRIPTION - {{ product.description }}</tr>
                <tr>PRICE - {{ item.price }}</tr>
                <!--Show size if present on item-->
                {% if item.size != "None" %}
                <tr>SIZE - {{ item.size }}</tr>
                {% endif %}
                <tr>QTY - {{ item.qty }}</tr>
                <tr>ITEM TOTAL - {{ item.total_price }}</tr>
                <!--Add to Cart-->
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" value="{{ product.id }}" data-index="{{ product.id }}"
                            class="add-to-cart btn btn-secondary text-right">Add to
                            cart</button>
                        <button type="button" value="{{ product.id }}" data-index="{{ product.id }}"
                            class="delete-from-cart btn btn-secondary text-right">Delete
                            from cart</button>
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
            <div class="col-12 text-center">
                <!--Show full cart subtotal-->
                <div class="h6">
                    Sub Total: £<span id="subtotal">{{ cart.get_total_price }}</span>
                </div>
            </div>
            {% else %}
            <p>Your cart is empty.</p>
            <a href="{% url 'store:products' %}">See all products!</a>
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".delete-from-cart", function (e) {
        e.preventDefault();
        var merchid = $(this).data("index");
        $.ajax({
            type: "POST",
            url: "{% url 'cart:cart_delete' %}",
            data: {
                merchid: $(this).data("index"),
                merchsize: $("#merch-size").val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: "delete"
            },
            success: function (json) {
                $(".product-item[data-index='" + merchid + "']").remove();
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>

{% endblock %}