{% extends "../base.html" %}
{% load static %}
{% block extra_title %}| Edit Merch {% endblock %}
{% block content %}

<!-- Header-->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="logo-font mb-4">
                <i class="fa-solid fa-pen-to-square"></i>
                Edit Merchandise
            </h2>
            <p class="text-muted">
                You are currently editing: <strong>{{ merch.product_name }}</strong>
            </p>
            <hr>
        </div>
    </div>

    <!-- Edit Merchandise Form -->
    <div class="row">
        <div class="col-12 col-md-8">
            <form method="POST" action="{% url 'store:edit_merch' merch.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field | as_crispy_field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <hr>
                <div class="text-right">
                    <a class="btn btn-outline-dark btn-rounded m-3" href="{% url 'store:products' %}">
                        <i class="fa-solid fa-xmark"></i> Cancel</a>
                    <button class="btn btn-outline-dark btn-rounded m-3" type="submit">
                        <i class="fa-solid fa-check"></i> Update Product</button>
                </div>
            </form>
        </div>
    </div>
    
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}