{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %} | Password Reset Success {% endblock %}

{% block inner_content %}
<div class="container">
    <h1>{% trans "Password Reset Success" %}</h1>
    <hr>


    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise
        contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>

</div>
{% endblock %}