{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %} | Signup {% endblock %}

{% block inner_content %}
<div class="container">
  <h1>{% trans "Sign Up" %}</h1>
  <hr>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <div class="row">
    <div class="col-12">
      <form class="form-group" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy}}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-lg btn-outline-dark btn-rounded" type="submit" class="all-auth-button">
          <i class="fa-solid fa-handshake-angle"></i> Sign Up</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}