<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Radicool is an E-Commerce platform for independent, D.I.Y. Bands & Brands,
    Created: 2023, Best prices on independent band merchandise.">

    <!-- Loads Static Files -->
    {% load static %}

    <!-- External CSS -->
    {% block css %}
    <link rel="stylesheet prefetch" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% endblock %}

    <!-- Internal CSS -->
    {% block intcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Preload the LCP image (Hero Image) so it starts loading with the stylesheet. -->
    <link rel="preload" fetchpriority="high" as="image" href="{% static 'logos/banner.webp' %}" type="image/webp">
    {% endblock %}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

    <!-- Page Title | Extra Information here -->
    <title>{% block title %}Radicool {% block extra_title %}{% endblock %}{% endblock %}</title>
</head>

<body>
    <header>
        <!-- Responsive Navbar - modified from Bootstrap templates -->
        <nav id="site-nav" class="navbar navbar-expand-lg">
            <!-- Static file Logo accessed -->
            <a class="navbar-brand" href="{% url 'store:home' %}">
                <img src="{% static 'logos/radicool_logo.webp' %}" height="70px" width="247px" alt="Radicool">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Responsive settings -->
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                    <!-- All Products Link -->
                    <li class="nav-item text-center">
                        <a class="nav-link" href="{% url 'store:products' %}">
                            <i class="fa-solid fa-shop"></i>
                            <p>All Products</p>
                        </a>
                    </li>

                    <!-- Collections Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link text-center" role="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-record-vinyl"></i>
                            <p>Collections <i class="fa-solid fa-caret-down"></i></p>
                        </a>

                        <!-- Loops through views and displays collections -->
                        <div class="dropdown-menu">
                            {% for c in collections %}
                            <a class="dropdown-item text-center"
                                href="{{ c.get_absolute_url }}">{{ c.col_name | title }}</a>
                            {% endfor %}
                        </div>
                    </li>

                    <!-- Categories Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link text-center" role="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-tag"></i>
                            <p>Categories <i class="fa-solid fa-caret-down"></i></p>
                        </a>
                        <div class="dropdown-menu">
                            <!-- Loops through views and displays categories -->
                            {% for c in categories %}
                            <a class="dropdown-item text-center"
                                href="{{ c.get_absolute_url }}">{{ c.cat_name | title }}</a>
                            {% endfor %}
                        </div>
                    </li>

                    <!-- Accounts Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link text-center" role="button" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-circle-user"></i>
                            <p>Account <i class="fa-solid fa-caret-down"></i></p>
                        </a>
                        <div class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            {% for group in request.user.groups.all %}
                            {% if group.name == 'Brand' %}
                            <a class="dropdown-item text-center" href="{% url 'admin:index' %}">Admin</a>
                            <a class="dropdown-item text-center" href="{% url 'store:add_merch' %}">Add Merch</a>
                            {% endif %}
                            {% endfor %}
                            <a class="dropdown-item text-center" href="{% url 'profiles:profile' %}">Profile</a>
                            <a class="dropdown-item text-center" href="{% url 'profiles:wishlist' %}">Wishlist </a>
                            <a class="dropdown-item text-center" type="button" data-toggle="modal"
                                data-target="#logoutModal">Logout</a>
                            {% else %}
                            <a class="dropdown-item text-center" href="{% url 'account_signup' %}">Sign Up</a>
                            <a class="dropdown-item text-center" href="{% url 'account_login' %}">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>

                <!-- Cart, maybe improve by refactoring -->
                <div class="m-3 text-center">
                    <a role="button" class="pl-3 pr- btn btn-outline-secondary" href="{% url 'cart:cart_summary' %}">
                        <div id="cart-qty" class="d-inline-flex text-center">
                            <!-- Compiles the total quantity of items in the cart -->
                            {% with total_qty=cart|length %}
                            <!-- Show Total Quantity of items -->
                            {% if total_qty > 0 %}
                            {{ total_qty }}
                            <!-- Show 0 if cart is empty -->
                            {% else %}
                            0
                            {% endif %}
                            {% endwith %}
                        </div>
                        <i class="fa-solid fa-basket-shopping"></i>
                        <p class="my-0 mt-2">
                            {% if cart.get_total_price > 0 %}
                            £<span id="subtotal-nav">{{ cart.get_total_price }}</span>
                            {% else %}
                            £<span id="subtotal-nav">0.00</span>
                            {% endif %}
                        </p>
                    </a>
                </div>

            </div>
        </nav>

        <!--Notification Banner-->
        {% if cart.delivery_context.free_delivery_delta > 0 %}
        <div id="notification-banner" class="row text-center text-white">
            <div class="col m-1">
                <h4 class="logo-font my-1">Free delivery on orders over
                    £{{ cart.delivery_context.free_delivery_threshold }}!</h4>
            </div>
        </div>
        <!--Displays when no free delivery offer is in effect. Promotes a new collection. (Future proofing the site.)-->
        {% else %}
        <div id="notification-banner" class="row text-center text-white">
            <div class="col m-1">
                <h4 class="logo-font my-1"><a href="../col/the-oversights">New Collection from The Oversights!</a> |
                    FREE DELIVERY ENABLED</h4>

            </div>
        </div>
        {% endif %}
    </header>

    <!-- Displays alerts & toasts beneath the header -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <hr>

    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>'Are you sure you want to sign out?'</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-btn btn btn-outline-dark btn-rounded mb-3" data-dismiss="modal">
                        <i class="fa-solid fa-xmark"></i> Cancel
                    </button>

                    <!-- Allauth Sign Out Form -->
                    <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="submit" class="btn btn-outline-dark btn-rounded mb-3">
                            <i class="fa-solid fa-right-from-bracket"></i> Sign Out</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Contains page content -->
    {% block content %}
    {% endblock %}

    <!-- Invisible HR for added space -->
    <hr style="margin-top: 20px; border: none;">
    <hr>

    <!-- Footer -->
    <footer class="text-center">
        <!-- Section: Social media -->
        <div class="d-flex justify-content-between p-4 text-white" id="footer-banner">
            <!-- Left -->
            <div class="me-5">
                <span>Get connected with us on social media:</span>
            </div>

            <!-- Right -->
            <div class="social-links">
                <a href="https://www.facebook.com/" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                    <span class="sr-only">Facebook</span>
                </a>
                <a href="https://www.twitter.com/" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                    <span class="sr-only">Twitter</span>
                </a>
                <a href="https://www.youtube.com/" class="text-white me-4">
                    <i class="fab fa-youtube"></i>
                    <span class="sr-only">Youtube</span>
                </a>
                <a href="https://www.instagram.com/" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                    <span class="sr-only">Instagram</span>
                </a>
                <a href="https://www.linkedin.com/" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                    <span class="sr-only">Linkedin</span>
                </a>
                <a href="https://github.com/Hadokane" class="text-white me-4">
                    <i class="fab fa-github"></i>
                    <span class="sr-only">Github</span>
                </a>
            </div>
        </div>

        <!-- Section: Links  -->
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
                    <!-- Content -->
                    <p id="body-rad" class="text-uppercase fw-bold h2-size">Radicool</p>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto bar-line">
                    <p>Radicool is a D.I.Y. shipping company for indy Bands & Brands.</p>
                </div>

                <!-- Grid column -->
                <div id="footer-account" class="col-md-6 col-lg-4 col-xl-4 mx-auto mb-4">
                    <!-- Links -->
                    <p class="text-uppercase fw-bold h4-size">Your Account</p>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto bar-line">
                    {% if request.user.is_authenticated %}
                    {% for group in request.user.groups.all %}
                    {% if group.name == 'Brand' %}
                    <p>
                        <a class="btn btn-lg btn-outline-dark btn-rounded" href="{% url 'admin:index' %}">
                            <i class="fa-solid fa-lock"></i> Admin</a>
                    </p>
                    {% endif %}
                    {% endfor %}
                    <p>
                        <a class="btn btn-lg btn-outline-dark btn-rounded" href="{% url 'profiles:profile' %}">
                            <i class="fa-solid fa-user"></i> Profile</a>
                    </p>
                    {% else %}
                    <p>
                        <a class="btn btn-lg btn-outline-dark btn-rounded" href="{% url 'account_signup' %}">
                            <i class="fa-solid fa-handshake-angle"></i> Sign Up</a>
                    </p>
                    <p>
                        <a class="btn btn-lg btn-outline-dark btn-rounded" href="{% url 'account_login' %}">
                            <i class="fa-solid fa-right-to-bracket"></i> Login</a>
                    </p>
                    {% endif %}
                </div>

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-center">
                    <!-- Links -->
                    <p class="text-uppercase fw-bold h4-size">Contact</p>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto bar-line">
                    <p><i class="fas fa-envelope mr-2"></i>radicool@example.com</p>
                    <p><i class="fas fa-home mr-2"></i> Ships from: NP20***, UK</p>
                </div>

            </div>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" id="footer-bottom">
            © 2023 Copyright: <a href="../">Radicool Industries</a>
        </div>

    </footer>

    <!-- External JS -->
    {% block javascript %}
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
    <!-- FontAwesome JS -->
    <script src="https://kit.fontawesome.com/67e7e0c15f.js" type="module" crossorigin="anonymous"></script>
    <!-- JS - Show Toasts -->
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}

    <!-- Post Load Javascript -->
    {% block postloadjs %}
    {% endblock %}

</body>

</html>