{% extends "../base.html" %}
{% load static %}
{% block extra_title %}| Checkout {% endblock %}
{% block content %}

<div class="container">
    <hr>
    <h1>CHECKOUT:</h1>
    <hr>
</div>

<!--Order Display (Shows Cart content)-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <!--Uses cart.py to access the sessions total-->
            <!--Displays all items within session and their data in the cart-->
            {% with total_qty=cart|length %}
            <!--If quantity > 0 show the items-->
            {% if total_qty > 0 %}
            <!--Loop through items in cart-->
            {% for item in cart %}
            <!--Use product information for each item-->
            {% with product=item.product %}
            <!--Arrange into tables-->
            <div data-index="{{ product.id }}" class="product-item table-responsive-rounded">
                <p>NAME - {{ product.product_name }}</p>
                <p>PRICE - <span id="itemprice{{product.id}}">{{ product.price }}</span></p>
                <!--Show size if present on item-->
                {% if item.size == "XS" or item.size == "S" or item.size == "M" or item.size == "L" or item.size == "XL" or item.size == "XXL" %}
                <p>SIZE - <span id="item_size{{product.id}}">{{ item.size }}</span></p>
                {% endif %}
                <p>QTY - <span id="item_qty{{product.id}}">{{ item.qty }}</span></p>
                <p>ITEM TOTAL - <span id="itemtotal{{product.id}}">{{ item.total_price }}</span></p>

                <!--Selections-->
                <!--QTY Select-->
                <label for="qty">QTY</label>
                <select id="qty{{product.id}}">
                    <option selected>{{ item.qty }}</option>
                    <option disabled>-</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                    <option value="">6</option>
                </select>
                <!--Size Select | change to "Clothing" when included-->
                {% if product.category.cat_name == "Vinyl" %}
                <label for="size">SIZE</label>
                <select id="size{{product.id}}">
                    <option selected>{{ item.size }}</option>
                    <option disabled>-</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                {% endif %}
                <!--Add to Cart-->
                <button type="button" value="{{ product.id }}" data-index="{{ product.id }}"
                    class="update-cart btn btn-secondary">Update</button>
                <button type="button" value="{{ product.id }}" data-index="{{ product.id }}"
                    class="delete-from-cart btn btn-secondary">Remove</button>
                <hr>
            </div>
            <hr>
            {% endwith %}
            {% endfor %}
            <div class="row">

                <div class="col-12 text-center">
                    <!--Show full cart subtotal-->
                    <div class="h6">
                        Sub Total: £<span id="subtotal">{{ cart.get_total_price }}</span>
                    </div>
                </div>
                {% else %}
                <p>Your cart is empty.</p>
                <a href="{% url 'store:products' %}">See all products!</a>
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>

    <hr>

<!--Crispy Form Formatted Checkout Section-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-muted">Please complete the Checkout form: </p>
            <p class="text-muted">( * = required )</p>
            <form action="{% url 'checkout:checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-black px-2 w-auto">Delivery</legend>
                    {{ order_form.street_address_1 | as_crispy_field }}
                    {{ order_form.street_address_2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <div class="submit-button text-right mt-5 mb-2">                    
                    <a href="" class="btn btn-outline-black rounded-0">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>
                    <button id="submit-button" class="btn btn-black rounded-0">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                    </p>
                </div>
        </div>
    </div>
</div>

    {% endblock %}