{% extends "base.html" %}
{% load static %}


{% block content %}
<!--HEADER-->
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="logo-font mb-4">Checkout</h2>
            <hr>
        </div>
    </div>

    <!-- Cart Display -->
    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="text-muted">Order Summary
                {% with total_qty=cart|length %}
                <!-- Show Total Quantity of items -->
                {% if total_qty > 0 %}
                ({{ total_qty }})
                <!-- Show 0 if cart is empty -->
                {% else %}
                (0)
                {% endif %}
                {% endwith %}
            </p>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small text-muted">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>
            {% for item in cart %}
            <div class="row">
                <div class="col-2 mb-1">
                    <a href="">
                        {% if item.product.image %}
                        <img class="w-100" src="../media/{{item.product.image}}" alt="{{ item.product.product_name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-7">
                    <p class="my-0"><strong>{{ item.product.product_name }}</strong></p>
                    {% if item.size == "XS" or item.size == "S" or item.size == "M" or item.size == "L" or item.size == "XL" or item.size == "XXL" %}
                    <p class="my-0 small">Size:
                        {{ item.size }}
                    </p>
                    {% endif %}
                    <p class="my-0 small text-muted">Qty: {{ item.qty }}</p>
                </div>
                <div class="col-3 text-right">
                    <p class="my-0 small text-muted">£{{ item.total_price }}</p>
                </div>
            </div>
            {% endfor %}
            <hr class="my-0">
            <div class="row text-black text-right">
                <div class="col-7 offset-2">
                    <p class="my-0">Order Total:</p>
                    <p class="my-0">Delivery:</p>
                    <p class="my-0">Grand Total:</p>
                </div>
                <!--Show full cart subtotals-->
                <div class="col-3">
                    <p class="my-0">£{{ cart.get_total_price }}</p>
                    <p class="my-0">£{{ cart.get_delivery_cost }}</p>
                    <p class="my-0"><strong>£{{ cart.grand_total }}</strong></p>
                </div>
            </div>
        </div>

        <!-- CRISPY FORM -->
        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout:checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label px-2 w-auto"><h4>Details:</h4></legend>
                    <span>{{ order_form.full_name | as_crispy_field }}</span>
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label px-2 w-auto"><h4>Delivery Details:</h4></legend>
                    <span>{{ order_form.street_address_1 | as_crispy_field }}</span>
                    <span>{{ order_form.street_address_2 | as_crispy_field }}</span>
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    <span>{{ order_form.postcode | as_crispy_field }}</span>
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label" for="id-save-info">Save this delivery information to my
                            profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="">Create an account</a> or
                            <a class="text-info" href="">login</a> to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>

                <!-- Payment Section -->
                <div class="row">
                    <div class="col">
                        <!-- Stripe Form -->
                        <fieldset class="px-3">
                            <h4 class="mb-3">Payment</h4>
                            <label for="card-element">Credit or debit card</label>
                            <!-- Stripe Payment elements will appear here -->
                            <div class="mb-3" id="card-element"></div>
                            <!-- Used to display form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>

                        <!-- Pay Now Button -->
                        <div class="col text-center">
                            <button id="submit-button" class="btn btn-outline-dark btn-rounded text-center">
                                <span class="font-weight-bold">Pay Now!</span>
                                <i class="fas fa-lock"></i>
                            </button>
                        </div>
                    </div>
                </div>
                
                <!-- Edit Cart Button -->
                <hr class="my-3">
                <div class="row">
                    <div class="col-4">
                        <a href="{% url 'cart:cart_summary' %}" class="btn btn-outline-dark btn-rounded">
                            <i class="fas fa-chevron-left"></i>
                            Edit Cart
                        </a>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!--Make csrf token available in JS files-->
<script>
    var CSRF_TOKEN = '{{ csrf_token }}';
</script>
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}