{% extends "../base.html" %}
{% load static %}
{% block extra_title %}| Store {% endblock %}
{% block content %}
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for m in merch %}
                <div class="col-sm-6 col-md-3 col-lg-4">
                    <div class="card h-100 mb-4 shadow-sm text-center">
                        <div class="overflow-auto">
                            <img class="card-img-top" width="100%" height="100%" src="media/{{m.image}}">
                        </div>
                        <div class="card-body text-center">
                            <p class><strong>{{ m.product_name }}</strong></p>
                            <p class="card-text"><em>{{ m.description }}</em></p>
                            <p class="card-text">£{{ m.price }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-secondary text-left">Button</a>
                            <a href="#" class="btn btn-primary text-right">Button</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>
{% endblock %}