{% extends "../base.html" %}
{% load static %}
{% block extra_title %}| Store {% endblock %}
{% block content %}

<!-- Search Bar -->
{% include 'includes/search/search_bar.html' %}

<!-- Jumbotron -->
<!-- Hide on smaller screens -->
<div class="d-none d-sm-block flex m-3">
    <div class="jumbotron p-5 text-center bg-image rounded-3">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white text-center">
                    <h2 id="body-rad-big">RADICOOL</h2>
                    <h3>Welcome to the home of your FAVOURITE D.I.Y. Band & Brands</h3>
                    <h4>Support local legends by purchasing their merch direct!</h4>
                    <hr>
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-outline-light btn-lg" href="{% url 'store:products' %}" role="button">See HOT
                        products</a>
                    {% else %}
                    <a class="btn btn-outline-light btn-lg" href="{% url 'account_signup' %}" role="button">Sign
                        Up</a>
                    <a class="btn btn-outline-light btn-lg" href="{% url 'store:products' %}" role="button">See HOT
                        products</a>
                    {% endif %}
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Radicool Collections Cards Container-->
<div class="album py-5" id="rad-col">
    <div class="container">
        <h2 class="text-center text-lg-left"><i class="fa-solid fa-biohazard"></i>
            Rad Collection
            <i class="fa-solid fa-biohazard"></i>
        </h2>
        <hr class="d-lg-inline-block text-md-center mb-4 mt-0 mx-auto bar-line-longer">
        <p>Support the stores you love. Check out this new Collection from RADICOOL.</p>

        <div class="row">
            <!--Loops through merch displaying them responsively in cards-->
            {% for m in merch %}
            {% if m.collection.col_name == "Radicool" %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100 mb-4 shadow-sm text-center">

                    <!--Card Header Image-->
                    <a href="{{ m.get_absolute_url }}">
                        <div class="overflow-auto">
                            <img class="card-img-top" width="100%" height="100%" src="../media/{{m.image}}">
                        </div>
                    </a>

                    <!--Card Body Text-->
                    <div class="card-body text-center d-flex flex-column">
                        <a class="card-text" href="{{ m.get_absolute_url }}"><strong>{{ m.product_name }}</strong></a>
                        <p class="card-text"><em>{{ m.description }}</em></p>

                        {% if m.category %}
                        <p>
                            <a class="card-text" href="{% url 'store:category_info' m.category.slug %}">
                                <i class="fa-solid fa-tag"></i>
                                {{ m.category }}
                            </a>
                        </p>
                        {% endif %}
                        {% if m.collection %}
                        <p>
                            <a class="card-text" href="{% url 'store:collection_info' m.collection.slug %}">
                                <i class="fa-solid fa-record-vinyl"></i>
                                {{ m.collection }}</a>
                        </p>
                        {% endif %}
                        <!--Wishlist-->
                        <!--Remove from Wishlist Icon-->
                        {% if wishlist %}
                        {% if m in wishlist %}
                        <div class="remove-wishlist m-3 align-self-center mt-auto">
                            <a title="Remove from Wish List" href="{% url 'profiles:update_wishlist' m.id %}"
                                aria-label="remove from wishlist" class="btn btn-lg btn-outline-dark btn-rounded mb-3">
                                <i class="fa-solid fa-heart-circle-xmark"></i>
                            </a>
                        </div>

                        <!--Add to Wishlist Icon-->
                        {% else %}
                        <div class="m-3 align-self-center mt-auto">
                            <a title="Add to Wish List" href="{% url 'profiles:update_wishlist' m.id %}"
                                aria-label="add to wishlist" class="btn btn-lg btn-outline-dark btn-rounded mb-3">
                                <i class="fa-solid fa-heart-circle-plus"></i>
                            </a>
                        </div>
                        {% endif %}
                        {% endif %}

                        <p class="card-text align-self-center mt-auto">
                            <a href="{{ m.get_absolute_url }}">
                                <strong>
                                    <i class="fa-regular fa-money-bill-1"></i>
                                    £{{ m.price }}
                                </strong>
                            </a>
                        </p>
                    </div>

                    <!--Card Footer Buttons-->
                    {% if request.user.is_superuser %}
                    <div class="card-footer">
                        <p>
                            <a href="{% url 'store:edit_merch' m.id %}">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Edit the Product
                            </a>
                        </p>
                        <!--Calls safety modal - Delete function-->
                        <p>
                            <a class="delete-text text-danger text-center" type="button" data-toggle="modal"
                                data-target="#deleteModal{{ m.id }}">
                                <i class="fa-solid fa-trash"></i> Delete the Product</a>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!--Horizontal Rule Settings-->

            {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none ">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block">
                <hr>
            </div>
            {% endif %}
            {% endif %}

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal{{ m.id }}" tabindex="-1" role="dialog"
                aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>'Are you sure you want to delete this product?'</p>
                        </div>
                        <div class="modal-footer">
                            <!-- Cancel Button-->
                            <a class="btn btn-outline-dark btn-rounded mb-3" data-dismiss="modal">
                                <i class="fa-solid fa-xmark"></i> Cancel
                            </a>

                            <!-- Delete Button-->
                            <a class="delete-btn btn btn-outline-dark btn-rounded mb-3"
                                href="{% url 'store:delete_merch' m.id %}">
                                <i class="fa-solid fa-trash"></i> Delete the Product
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

<!--Hot Items Cards Container-->
<div class="album py-5" id="hot-items">
    <div class="container">
        <h2 class="text-center text-lg-left"><i class="fa-solid fa-fire"></i> Hot Items <i class="fa-solid fa-fire"></i>
        </h2>
        <hr class="d-lg-inline-block text-md-center mb-4 mt-0 mx-auto bar-line-long">
        <p>Explore what's hot right now by taking a look at our Bestsellers.</p>
        <div class="row">
            <!--Loops through merch displaying them responsively in cards-->
            {% for m in merch %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="card h-100 mb-4 shadow-sm text-center">

                    <!--Card Header Image-->
                    <a href="{{ m.get_absolute_url }}">
                        <div class="overflow-auto">
                            <img class="card-img-top" width="100%" height="100%" src="../media/{{m.image}}">
                        </div>
                    </a>

                    <!--Card Body Text-->
                    <div class="card-body text-center d-flex flex-column">
                        <a class="card-text" href="{{ m.get_absolute_url }}"><strong>{{ m.product_name }}</strong></a>
                        <p class="card-text"><em>{{ m.description }}</em></p>

                        {% if m.category %}
                        <p>
                            <a class="card-text" href="../cat/{{m.category.slug}}">
                                <i class="fa-solid fa-tag"></i>
                                {{ m.category }}
                            </a>
                        </p>
                        {% endif %}
                        {% if m.collection %}
                        <p>
                            <a class="card-text" href="../col/{{m.collection.slug}}">
                                <i class="fa-solid fa-record-vinyl"></i>
                                {{ m.collection }}</a>
                        </p>
                        {% endif %}
                        <!--Wishlist-->
                        <!--Remove from Wishlist Icon-->
                        {% if wishlist %}
                        {% if m in wishlist %}
                        <div class="remove-wishlist m-3 align-self-center mt-auto">
                            <a title="Remove from Wish List" href="{% url 'profiles:update_wishlist' m.id %}"
                                aria-label="remove from wishlist" class="btn btn-lg btn-outline-dark btn-rounded mb-3">
                                <i class="fa-solid fa-heart-circle-xmark"></i>
                            </a>
                        </div>

                        <!--Add to Wishlist Icon-->
                        {% else %}
                        <div class="m-3 align-self-center mt-auto">
                            <a title="Add to Wish List" href="{% url 'profiles:update_wishlist' m.id %}"
                                aria-label="add to wishlist" class="btn btn-lg btn-outline-dark btn-rounded mb-3">
                                <i class="fa-solid fa-heart-circle-plus"></i>
                            </a>
                        </div>
                        {% endif %}
                        {% endif %}

                        <p class="card-text align-self-center mt-auto">
                            <a href="{{ m.get_absolute_url }}">
                                <strong>
                                    <i class="fa-regular fa-money-bill-1"></i>
                                    £{{ m.price }}
                                </strong>
                            </a>
                        </p>
                    </div>

                    <!--Card Footer Buttons-->
                    {% if request.user.is_superuser %}
                    <div class="card-footer">
                        <p>
                            <a href="{% url 'store:edit_merch' m.id %}">
                                <i class="fa-solid fa-pen-to-square"></i>
                                Edit the Product
                            </a>
                        </p>
                        <!--Calls safety modal - Delete function-->
                        <p>
                            <a class="delete-text text-danger text-center" type="button" data-toggle="modal"
                                data-target="#deleteModal{{ m.id }}">
                                <i class="fa-solid fa-trash"></i> Delete the Product</a>
                        </p>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!--Horizontal Rule Settings-->

            {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none ">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none">
                <hr>
            </div>
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block">
                <hr>
            </div>
            {% endif %}

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal{{ m.id }}" tabindex="-1" role="dialog"
                aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>'Are you sure you want to delete this product?'</p>
                        </div>
                        <div class="modal-footer">
                            <!-- Cancel Button-->
                            <a class="btn btn-outline-dark btn-rounded mb-3" data-dismiss="modal">
                                <i class="fa-solid fa-xmark"></i> Cancel
                            </a>

                            <!-- Delete Button-->
                            <a class="delete-btn btn btn-outline-dark btn-rounded mb-3"
                                href="{% url 'store:delete_merch' m.id %}">
                                <i class="fa-solid fa-trash"></i> Delete the Product
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

<!--Featured Item - Card Container-->
<div class="album py-5" id="featured-item">

    <!--Header - Responsive Bar Line-->
    <div class="container">
        <h2 class="text-center text-lg-left"><i class="fa-solid fa-star"></i> Featured Item: <i
                class="fa-solid fa-star"></i>
        </h2>
        <hr class="d-lg-inline-block text-md-center mb-4 mt-0 mx-auto bar-line-feature">
        <p>We want to show some love towards the following release:</p>

        <!--Card Display-->
        <div class="row">
            <!--Loops through merch displaying them responsively in cards-->
            {% for m in merch %}
            <!--Choose specific product by slug-->
            {% if m.slug == "original-doodle-ff8" %}
            <!--Featured Product Card -->
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="card mb-3 bg-light border-dark" style="max-width: 1080px;">
                        <div class="row ">

                            <!--Card Image Field-->
                            <div class="col-md-6 ml-2 mt-2 text-center">
                                <a href="../media/{{ m.image }}" target="_blank" class="text-decoration-none">
                                    <img src="../media/{{ m.image }}" alt="{{ m.product_name }}" width="100%">
                                    <p class="text-muted">[Click image to expand]</p>
                                </a>
                            </div>

                            <!--Card Body Field-->
                            <div class="col-md-4">
                                <div class="card-body">
                                    <h2 class="card-title">{{ m.product_name }}</h2>
                                    <hr>
                                    <p class="card-text">{{ m.description }}</p>
                                    <hr>
                                    <p class="card-text"><strong>£{{ m.price }}</strong></p>
                                </div>
                            </div>

                            <!--Size Select | change to "Clothing" when included-->
                            {% if m.category.cat_name == "Clothing" %}

                            <!--Wishlist-->
                            <!--Remove from Wishlist Icon-->
                            {% if wishlist %}
                            {% if m in wishlist %}
                            <div class="remove-wishlist col-3 text-center mb-3">
                                <a title="Remove from Wish List" href="{% url 'profiles:update_wishlist' m.id %}"
                                    aria-label="remove from wishlist"
                                    class="btn btn-lg btn-outline-dark btn-rounded mb-3">
                                    <i class="fa-solid fa-heart-circle-xmark"></i>
                                </a>
                            </div>

                            <!--Add to Wishlist Icon-->
                            {% else %}
                            <div class="col-3 text-center mb-3">
                                <a title="Add to Wish List" href="{% url 'profiles:update_wishlist' m.id %}"
                                    aria-label="add to wishlist" class="btn btn-lg btn-outline-dark btn-rounded mb-3">
                                    <i class="fa-solid fa-heart-circle-plus"></i>
                                </a>
                            </div>
                            {% endif %}
                            {% endif %}

                            <!--QTY Select-->
                            <div class="col-6 text-center mb-3">
                                <label for="merch-qty">QTY</label>
                                <input id="merch-qty" type="number" value="1" min="1">
                            </div>
                            <!--Size Select-->
                            <div class="col-3 text-center mb-3">
                                <label for="merch-size">SIZE</label>
                                <select id="merch-size">
                                    <option value="XS">XS</option>
                                    <option value="S">S</option>
                                    <option value="M">M</option>
                                    <option value="L">L</option>
                                    <option value="XL">XL</option>
                                    <option value="XXL">XXL</option>
                                </select>
                            </div>
                            {% else %}

                            <!--If No Size-->

                            <!--Wishlist-->
                            <!--Remove from Wishlist Icon-->
                            {% if wishlist %}
                            {% if m in wishlist %}
                            <div class="remove-wishlist col-3 text-center mb-3">
                                <a title="Remove from Wish List" href="{% url 'profiles:update_wishlist' m.id %}"
                                    aria-label="remove from wishlist"
                                    class="btn btn-lg btn-outline-dark btn-rounded mb-3">
                                    <i class="fa-solid fa-heart-circle-xmark"></i>
                                </a>
                            </div>

                            <!--Add to Wishlist Icon-->
                            {% else %}
                            <div class="col-3 text-center mb-3">
                                <a title="Add to Wish List" href="{% url 'profiles:update_wishlist' m.id %}"
                                    aria-label="add to wishlist" class="btn btn-lg btn-outline-dark btn-rounded mb-3">
                                    <i class="fa-solid fa-heart-circle-plus"></i>
                                </a>
                            </div>
                            {% endif %}
                            {% endif %}

                            <!--QTY Select-->
                            <div class="col-6 text-center mb-3">
                                <label for="merch-qty">QTY</label>
                                <input id="merch-qty" type="number" value="1" min="1">
                            </div>

                            <!--Empty for spacing-->
                            <div class="col-3 text-center mb-3">
                            </div>
                            {% endif %}
                            <!--Add to Cart-->
                            <div class="col-12 text-center">
                                <button type="button" data-id="{{ m.id }}"
                                    class="add-to-cart btn btn-lg btn-outline-dark btn-rounded mb-3">
                                    <i class="fa-solid fa-plus"></i> Add to cart</button>
                                <div class="card-footer">
                                    {% if request.user.is_superuser %}
                                    <p><a href="{% url 'store:edit_merch' m.id %}"><i
                                                class="fa-solid fa-pen-to-square"></i>
                                            Edit the Product</a></p>
                                    <!--Calls safety modal - Delete function-->
                                    <p>
                                        <a class="delete-text text-danger text-center" type="button" data-toggle="modal"
                                            data-target="#deleteModal{{ m.id }}">
                                            <i class="fa-solid fa-trash"></i> Delete the Product</a>
                                    </p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal{{ m.id }}" tabindex="-1" role="dialog"
                aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>'Are you sure you want to delete this product?'</p>
                        </div>
                        <div class="modal-footer">
                            <!-- Cancel Button-->
                            <a class="btn btn-outline-dark btn-rounded mb-3" data-dismiss="modal">
                                <i class="fa-solid fa-xmark"></i> Cancel
                            </a>

                            <!-- Delete Button-->
                            <a class="delete-btn btn btn-outline-dark btn-rounded mb-3"
                                href="{% url 'store:delete_merch' m.id %}">
                                <i class="fa-solid fa-trash"></i> Delete the Product
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

<!--Site Features Cards Container-->
<div class="container ">
    <div class="row text-center">
        <!--Free Delivery Card-->
        <div class="col-6 col-lg-3 mt-3">
            <div class="d-inline-block  mt-3">
                <h3><i class="fa-solid fa-truck"></i></h3>
                <h4 class="m-0">
                    Free Delivery*
                </h4>
                <!---->
                <p>
                    When you spend over £35!</p>
            </div>
        </div>
        <!--Free Delivery Card-->
        <div class="col-6 col-lg-3 mt-3">
            <div class="d-inline-block mt-3">
                <h3><i class="fa-solid fa-recycle"></i></h3>
                <h4 class="m-0">
                    Recyclable Packaging
                </h4>
                <!---->
                <p>
                    Keeping things green!</p>
            </div>
        </div>
        <!--Free Delivery Card-->
        <div class="col-6 col-lg-3 mt-3">
            <div class="d-inline-block mt-3">
                <h3><i class="fa-solid fa-guitar"></i></h3>
                <h4 class="m-0">
                    Supporting local talent
                </h4>
                <!---->
                <p>
                    Brands & bands paid highest %!</p>
            </div>
        </div>
        <!--Free Delivery Card-->
        <div class="col-6 col-lg-3 mt-3">
            <div class="d-inline-block mt-3">
                <h3><i class="fa-solid fa-shirt"></i></h3>
                <h4 class="m-0">
                    Built to last
                </h4>
                <!---->
                <p>
                    Highest quality goods!</p>
            </div>
        </div>
    </div>
</div>

<!--Javascript - Add To Cart-->
<script>
    $(document).on("click", ".add-to-cart", function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "{% url 'cart:cart_add' %}",
            data: {
                merchid: $(this).data("id"),
                merchqty: $("#merch-qty").val(),
                merchsize: $("#merch-size").val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: "add_to_cart"
            },
            success: function (json) {
                document.getElementById("cart-qty").innerHTML = json.qty
                document.getElementById("subtotal-nav").innerHTML = json.subtotal
            },
            error: function (xhr, errmsg, err) {}
        });
    })
</script>

{% endblock %}