{% extends "../base.html" %}
{% load static %}
{% block extra_title %}| All {% endblock %}
{% block content %}
<main role="main">

    <h1>ALL PRODUCTS</h1>
    
    <!--Sort Bar-->
    <hr>
    <div class="d-inline-flex pr-2">SORT BY:</div>
    <div class="text-center">
        <a href="{%url 'store:products' %}" class="btn-primary btn" style="background-color:  #21D192;"><i class="fa-solid fa-fire" style="color: #000000;"></i> Newest</a>
        <a href="{%url 'store:products' %}?sort=price&direction=asc" class="btn-primary btn" style="background-color:  #21D192;"><i class="fa-regular fa-money-bill-1" style="color: #000000;"></i> By Price (low-high) <i class="fa-solid fa-caret-down" style="color: #000000;"></i></a>
        <a href="{%url 'store:products' %}?sort=price&direction=desc" class="btn-primary btn" style="background-color:  #21D192;"><i class="fa-solid fa-sack-dollar" style="color: #000000;"></i> By Price (high-low) <i class="fa-solid fa-caret-up" style="color: #000000;"></i></a>
        <a href="{%url 'store:products' %}?sort=category&direction=asc" class="btn-primary btn" style="background-color:  #21D192;"><i class="fa-solid fa-tag" style="color: #000000;"></i> By Category</a>
        <a href="{%url 'store:products' %}?sort=collection&direction=asc" class="btn-primary btn" style="background-color:  #21D192;"><i class="fa-solid fa-hat-wizard" style="color: #000000;"></i> By Collection</a>
        <a href="{%url 'store:products' %}?sort=product_name&direction=asc" class="btn-primary btn" style="background-color:  #21D192;">By Name (A-Z) <i class="fa-solid fa-caret-down" style="color: #000000;"></i></a>
        <a href="{%url 'store:products' %}?sort=product_name&direction=desc" class="btn-primary btn" style="background-color:  #21D192;">By Name (Z-A) <i class="fa-solid fa-caret-up" style="color: #000000;"></i></a>
    </div>
    <hr>
    <!--Cards Container-->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <!--Loops through merch displaying them responsively in cards-->
                {% for m in merch %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 mb-4 shadow-sm text-center">
                        <!--Card Header Image-->
                        <div class="overflow-auto">
                            <img class="card-img-top" width="100%" height="100%" src="../media/{{m.image}}">
                        </div>
                        <!--Card Body Text-->
                        <div class="card-body text-center">
                            <a class="card-text"
                                href="{{ m.get_absolute_url }}"><strong>{{ m.product_name }}</strong></a>
                            <p class="card-text"><em>{{ m.description }}</em></p>
                            <p class="card-text"><i class="fa-regular fa-money-bill-1" style="color: #000000;"></i> £{{ m.price }}</p>
                            {% if m.category %}
                            <p>
                                <a class="card-text" href="../cat/{{m.category.slug}}"><i class="fa-solid fa-tag" style="color: #000000;"></i> {{ m.category }}</a>
                            </p>
                            {% endif %}
                            {% if m.collection %}
                            <p>
                                <a class="card-text" href="../col/{{m.collection.slug}}"><i class="fa-solid fa-hat-wizard" style="color: #000000;"></i> {{ m.collection }}</a>
                            </p>
                            {% endif %}
                        </div>
                        <!--Card Footer Buttons-->
                        <div class="card-footer">
                            <a href="#" class="btn btn-secondary text-left">Button</a>
                            <a href="#" class="btn btn-primary text-right">Button</a>
                        </div>
                    </div>
                </div>

                <!--Horizontal Rule Settings-->

                <!--Displays under each item on small screens-->
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-sm-none">
                    <hr>
                </div>
                {% endif %}

                <!--Displays when row is divisible by 2 on medium views-->
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none">
                    <hr>
                </div>
                {% endif %}

                <!--Displays when row is divisible by 3 on large views-->
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none">
                    <hr>
                </div>
                {% endif %}

                <!--Displays when row is divisible by 4 on x-large views-->
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block">
                    <hr>
                </div>
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}